.table {
  width: 1888px;
  margin-left: 16px;
  margin-right: 16px;
}

.tool-bar {
  height: 56px;
}

.add-btn {
  width: 36px;
  height: 36px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0;
}

.add-icon {
  width: 20px;
  height: 20px;
}

.delete-btn {
  width: 36px;
  height: 36px;
  margin-top: 10px;
  margin-left: 59px;
}

.delete-icon {
  width: 21px;
  height: 20px;
  padding-top: 8px;
  padding-left: 7.5px;
}

.table-content {
  height: 861px;
}
